<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/beer_shop/nav.ejs') %>
    <div class="columns">
        <div class="column is-two-thirds">
            <section class="section">
                <div class="container is-max-widescreen">
                    <h3 class="is-3 title mb-3">Detalle de la compra</h3>
                    <hr>
                    <div class="box">
                        <table class="table is-fullwidth is-hoverable" id="ticket">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Código</th>
                                    <th>Precio</th>
                                    <th>Quitar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% let total = 0.0 %>
                                <% objects['ticket']['products'].forEach( product => { %>
                                    <% total += product.price %>
                                    <% const complexId = `${product.id}-${product.name}` %>
                                    <tr id="<%= complexId %>">
                                        <td><%= product.name %></td>
                                        <td><%= product.id %></td>
                                        <td><%= product.price %></td>
                                        <td>
                                            <button class="button" onclick="deleteItem(this, <%= product.price %>)">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                <% }) %>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="2">
                                        TOTAL
                                    </th>
                                    <td id="total" colspan="2" class="has-text-left">
                                        <%= total %>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="container">
                    <h3 class="is-3 title mb-3">Pago</h3>
                    <hr>
                    <form action="/beer-shop/payment" method="post" class="box">
                        <input type="text" value="<%= objects.ticket %>" id="<%= objects.ticket.id %>" name="ticketId" hidden>
                        <input type="text" value="<%= total %>" id="totalPayment" hidden>
                        <div class="field">
                            <label for="creditCardNumber" class="label">Numero de tarjeta</label>
                            <div class="control mb-3">
                                <input type="text" class="input" name="creditCardNumber" id="creditCardNumber">
                                <div hidden id="check">
                                    <i class="fa-solid fa-check"></i>
                                </div>
                                <div hidden id="xmark">
                                    <i class="fa-solid fa-xmark"></i>
                                </div>
                            </div>
                            <img style="height: 24px" src="/images/visa_blue_logo.png" alt="visa" id="visa" hidden>
                            <img style="height: 32px" src="/images/mc_logo.svg" alt="mastercard" id="mastercard" hidden>
                            <img style="height: 32px" src="/images/amex_logo.png" alt="amex" id="amex" hidden>

                        </div>
                        <div class="field">
                            <label for="creditCardOwner" class="label">Nombre como figura en la tarjeta</label>
                            <div class="control">
                                <input type="text" class="input" name="creditCardOwner">
                            </div>
                        </div>
                        <button class="button">Pagar</button>
                    </form>
                </div>
            </section>
        </div>
        <div class="column">
            <div class="section">
                <div class="container">
                    <h3 class="is-3 title mb-3">Datos del cliente</h3>
                    <hr>
                    <div class="box">
                        <div class="media-content">
                            <table class="table">
                                <tr>
                                    <th>Nombre: </th>
                                    <td><%= objects['client'].name %></td>
                                </tr>
                                <tr>
                                    <th>Apellido: </th>
                                    <td><%= objects['client'].lastname %></td>
                                </tr>
                                <tr>
                                    <th>Dirección: </th>
                                    <td><%= objects['client'].address %></td>
                                </tr>
                                <tr>
                                    <th>Código Postal: </th>
                                    <td><%= objects['client'].postalCode %></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>
    <script src="/js/ticket.js" type="text/javascript"></script>
</body>
</html>